@model Lab03_ED_2022.Models.ClientModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<header>
    <a class="navbar-brand" asp-area="" asp-controller="Client" asp-action="Index2">| Ordenado ID |</a> @*cambio para estar en espanol*@
    <a class="navbar-brand" asp-area="" asp-controller="Client" asp-action="Index3">| Ordenado Serial |</a> @*cambio para estar en espanol*@
    <a class="navbar-brand" asp-area="" asp-controller="Client" asp-action="Index">| Ordenado Email |</a> @*cambio para estar en espanol*@
    <a class="navbar-brand" asp-area="" asp-controller="Client" asp-action="Create5">| Búsqueda |</a> @*cambio para estar en espanol*@
</header>


<p>
    <b>Cargar  desde CSV</b>
</p>
<form asp-controller="Client" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <br />
    <br />
    <button type="submit">Cargar</button>
    <hr />
</form>



<h4>Nuevo Vehículo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarColor" class="control-label"></label>
                <input asp-for="CarColor" class="form-control" />
                <span asp-validation-for="CarColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel" class="control-label"></label>
                <input asp-for="CarModel" class="form-control" />
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNo" class="control-label"></label>
                <input asp-for="SerialNo" class="form-control" />
                <span asp-validation-for="SerialNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
