@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido SAT</h1> @*cambio para estar en espanol*@
    <br />
    <br />
    <h2>
        <b>Elija el tipo de Árbol para usar</b>
    </h2>
    <br />
    <a class="navbar-brand" asp-area="" asp-controller="Client" asp-action="CreateAvl"> AVL </a> @*cambio para estar en espanol*@

    <a class="navbar-brand" asp-area="" asp-controller="Client" asp-action="Create"> BST </a> @*cambio para estar en espanol*@

   




</div>
